body {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size:100% 100%;
  background: #0d47a1;
  background: linear-gradient(135deg, #ffeb3b, #42a5f5 60%, #0d47a1) fixed;
}